.row
		form(enctype="multipart/form-data").col.s12
			.row
				.input-field.col.s12.m12
					select#right_sponsors
						option(value='default', selected='') New Sponsor
				.input-field.col.s12.m12
					input#right_sponsor_name.validate(placeholder='Right Sponsor Name', type='text', name="right_sponsor_name")
					input#id(type='hidden', name="_id", value='')
					label(for='right_sponsor_name') Right Sponsor Name
				.input-field.col.s12.m6
					.file-field.input-field
						.btn
							span File
							input#right_sponsor_logo(type='file', name='logo')
						.file-path-wrapper
							input.file-path.validate(type='text')
							label Image Size for Best Quality and No Deformation: 340x60px // 350x70px
				.input-field.col.s12.m6
					.col.s12.m12
						.card-panel.grey.lighten-5.z-depth-1
							.row
								.col.s12
									img.circle.responsive-img#right_sponsor_logo_img(alt='')
									// notice the "circle" class
				.input-field.col.s12
					a.waves-effect.waves-light.btn#save_right_sponsor Save Sponsor
					a.waves-effect.waves-light.btn.disabled#delete_right_sponsor Delete Sponsor